<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Web App - List</strong>
      <div class="pull-right">
        <a (click)="create()"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let person of personList">{{person.firstname}} {{person.lastname}}</li>
      <!-- looping through personList array and displaying first and last name -->
    </ul>
  </div>
</div>
